/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 11, 2016, 10:46:17 PM
    Author     : Ramadan
*/

.navbar-brand img {
    display: inline;
    max-height: 44px;
}

table.dataTable.no-footer {
    border-bottom: none;
}
ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}